---
import { Button } from '@/ui'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Custom Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-neutral-950 text-neutral-50">
    <header class="py-20">
      <h1 class="text-lime-400 text-6xl font-bold text-center">Custom Store</h1>
    </header>
    <div class="container max-w-64 mx-auto flex flex-col items-center justify-center gap-4">
      <div id="count" class="text-8xl">10</div>
      <a class="hover:underline" href="/">Go to HOME Page</a>
      <div class="p-4 flex items-center justify-between w-full">
        <Button id="decrement" colorScheme="danger">
          <svg width="24px" height="24px" stroke-width="4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
            <path d="M6 12H18" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </Button>
        <Button colorScheme="warning" id="reset" className="px-4">Reset</Button>
        <Button id="increment">
          <svg width="24px" height="24px" stroke-width="4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor">
            <path d="M6 12H12M18 12H12M12 12V6M12 12V18" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </Button>
      </div>
    </div>
  </body>
</html>

<script>
  import { $, $$ } from '@/utils'
  import { counterStore, counterActions } from '@/store'

  const incrementButton = $<HTMLButtonElement>('#increment')
  const decrementButton = $<HTMLButtonElement>('#decrement')
  const resetButton = $<HTMLButtonElement>('#reset')
  const countElement = $('#count')

  const updateUI = (count: number) => {
    if (countElement) countElement.textContent = count.toString()
  }

  updateUI(counterStore.get().count)

  counterStore.subscribe(state => updateUI(state.count))

  incrementButton?.addEventListener('click', counterActions.increment)
  decrementButton?.addEventListener('click', counterActions.decrement)
  resetButton?.addEventListener('click', counterActions.reset)

  document.addEventListener('astro:page-load', () => {
    updateUI(counterStore.get().count)
  })
</script>
